<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('chat.png'), :rel => 'icon', :type =>  'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'emoji'%>

  </head>
  <body>
    <%= render 'shared/menu'%>
    <div class="container">
     <%= render 'layouts/messages' %>
     <%= yield %>
    </div>
    <%= render 'shared/user_sidelist' %>
    <%= javascript_include_tag 'config' %>
    <%= javascript_include_tag 'util' %>
    <%= javascript_include_tag 'jquery.emojiarea' %>
    <%= javascript_include_tag 'emoji-picker' %>
  </body>
</html>